/* Group Glow style for Dawn */
.wp-block-group.is-style-dawn-glow {
	position: relative;
	overflow: visible;
	z-index: 0;
	isolation: isolate;
}

.wp-block-group.is-style-dawn-glow:after {
	content: "";
	position: absolute;
	inset: 0;
	transform: translate3d(0,0,-1px);
	background:  var(--wp--preset--gradient--glow);
    filter: blur(10px);
	clip-path: polygon(-100vmax -100vmax,100vmax -100vmax,100vmax 100vmax,-100vmax 100vmax,-100vmax -100vmax,0 0,0 100%,100% 100%,100% 0,0 0);
	pointer-events: none;
	z-index: 0;
}

/* Ensure inner content sits above the glow */
.wp-block-group.is-style-dawn-glow > * {
	position: relative;
	z-index: 1;
}
