/* Group Gradient Border style for Dawn */
.wp-block-group.is-style-dawn-gradient-border, .wp-block-group.is-style-dawn-gradient-border * {
	box-sizing: border-box;
	border-image: var(--wp--preset--gradient--border-gradient);
	border-image-slice: 1;
}
