<!-- wp:template-part {"slug":"header","theme":"dawn","area":"header","customId":"e0334e"} /-->

<!-- wp:group {"customId":"354ba1","layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"customId":"81487e","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:group {"customId":"938a18","layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":"4","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"customId":"2332bd","customPostsPerPage":"8","layout":{"type":"default"}} -->
    <div class="wp-block-query"><!-- wp:post-template {"customId":"a18043","responsiveStyles":{"gap":{"desktop":"20px"}},"style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":4}} -->
    <!-- wp:template-part {"slug":"blog-roll-card","theme":"dawn","customId":"2935b6"} /-->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination {"customId":"4f00da","layout":{"type":"flex","justifyContent":"center"}} -->
    <!-- wp:query-pagination-previous {"customId":"9a7fbf"} /-->
    
    <!-- wp:query-pagination-numbers {"customId":"9f88b2"} /-->
    
    <!-- wp:query-pagination-next {"customId":"500353"} /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"dawn","area":"footer","customId":"3587a3"} /-->